<!DOCTYPE html>
<html>
  <head>
    <title>MeetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Meet Up App", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Groups Index", groups_path, class:"nav-item nav-link" %>
      <%= link_to "New Group", new_group_path, class:"nav-item nav-link" %>
    </div>
  </div>
</nav>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
    <%= yield %>
  </body>
</html>
